<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>EjemplosMVC</display-name>
  <welcome-file-list>
    <welcome-file>inicio</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>InitSessionFilter</filter-name>
    <filter-class>com.eduinteractive.web.filter.InitSessionFilter</filter-class>
  </filter>
  <filter>
    <filter-name>LocaleFilter</filter-name>
    <filter-class>com.eduinteractive.web.filter.LocaleFilter</filter-class>
  </filter>
  <filter>
    <filter-name>UserFilter</filter-name>
    <filter-class>com.eduinteractive.web.filter.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>InitSessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/html/estudiante/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/html/profesor/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ProfesorHomeServlet</display-name>
    <servlet-name>ProfesorHomeServlet</servlet-name>
    <servlet-class>com.eduinteractive.web.controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfesorHomeServlet</servlet-name>
    <url-pattern>/ProfesorHome</url-pattern>
  </servlet-mapping>
</web-app>