/* Navigation Bar */
body{background-color: #81cbf8;}
.navbar {
	overflow: hidden;
	background-color: #1b6be4;
	border: 2px solid black;
}

.navbar a {
	float: right;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown {
	float: right;
	overflow: hidden;
	margin-top: 10px;
}
#dropbtn2{
	width:200px;
	left:50%;
}
.dropdown .dropbtn {
	left:50%;
	text-align: center;
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #0080ff;
}

.dropdown-content {
	margin-bottom: 40px;
	display: none;
	width:200px;
	position: absolute;
	background-color: #f9f9f9;
	/*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.navbar .izquierda, .navbar form {
	float: left;
}

/* search form */
form.example {
	position: relative;
	left: 100px;
}

form.example input[type=text] {
	position: relative;
	top: 23px;
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
}

form.example button {
	position: relative;
	top: 27.7px;
	float: left;
	width: 20%;
	padding: 10px;
	background: #2196F3;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
}

form.example button:hover {
	background: #0b7dda;
}

form.example::after {
	content: "";
	clear: both;
	display: table;
}

#searchButton {
	border-radius:5px;
	position: relative;
	left: 88%;
	top: -19.5px;
}





.button, submit {
	position: relative;
	background-color: #e48871;
	border: none;
	font-size: 28px;
	color: #FFFFFF;
	padding: 20px;
	width: 100px;
	text-align: center;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
}
/* Criteria */
#separadorCriteria {
	width: 100%;
}

#criteria {
	position: relative;
	top: 10px;
}

#submitCriteria {
	position: relative;
	top: -25px;
}

/* resultados */
#resultados {
	
	position: relative;
	text-align: center;
}

.resultado {
	background-color: #ffff80;
	margin-top: 20px;
	margin-left: 40px;
	height: 140px;
	display: inline-block;
	border-style: solid;
	border-color: black;
	width: 175px;
	text-align: center;
}

#dispo {
	position: relative;
	top: -50px;
	width: 120px;
}

.precio {
	text-align: left;
}

#disponibilidad {
	width: 144px;
	position: relative;
	top: -150px;
	right: 50%;
}

#profesoresRecomendados {
	position: absolute;
	text-align: left;
	right: 10px;
	bottom: 10px;
}

.resultadoRecomendado {
	background-color: #ffff80;
	margin-top: 20px;
	margin-left: 40px;
	height: 140px;
	display: block;
	border-style: solid;
	border-color: black;
	width: 175px;
	text-align: center;
}

#sesiones {
	position: absolute;
	text-align: left;
	right: 50%;
	top: 130px;
}

#cancelarSesion {
	float: left;
}

#linkDetail {
	margin-left: 15px;
}

.isDisabled {
	color: currentColor;
	cursor: not-allowed;
	text-decoration: none;
}

.sidenav {
	width: 130px;
	position: fixed;
	z-index: 1;
	top: 20px;
	left: 10px;
	background: #eee;
	overflow-x: hidden;
	padding: 8px 0;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #2196F3;
	display: block;
}

.sidenav a:hover {
	color: #064579;
}

/* Style the tab */
.tab {
	float: left;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	width: 30%;
	height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
	display: block;
	background-color: inherit;
	color: black;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	position: relative;
	right: 20px;
	float: right;
	padding: 0px 12px;
	border: 1px solid #ccc;
	width: 60%;
	border-left: none;
	height: 300px;
}
/* Style the buttons inside the tab */
.tab button {
	display: block;
	background-color: inherit;
	color: black;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	position: relative;
	right: 20px;
	float: right;
	padding: 0px 12px;
	border: 1px solid #ccc;
	width: 60%;
	border-left: none;
	height: 300px;
}

#addTimetables {
	position: relative;
	top: 50px;
	background-color: green;
	height: 46px;
}

#separadorHorario {
	position: relative;
	top: 40px;
}

#horariosProfesor{
	position: relative;
    top: 150px;
    right: 325px;
    width: 150px;  
}

#videoCall{
	margin-top: 20px;
	text-align: center;
}

#puntuarBtn{
	
    position: relative;
    float: left;
    right: 100px;
    top: 40px;
	
}

#puntuacion{
	position: relative;
	bottom: 300px;
}

#sendEmail{
	
    position: relative;
    top: 60px;
    right: 800px;
	left: -70%;
	
}
.aceptbtn {

	margin-right: 10px;
     -moz-box-shadow: 0px 1px 0px 0px #95ec9d;
     -webkit-box-shadow: 0px 1px 0px 0px #95ec9d;
     box-shadow: 0px 1px 0px 0px #95ec9d;
     background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #95ec9d), color-stop(1, #23c1ff));
     background:-moz-linear-gradient(top, #95ec9d 5%, #64c217 100%);
     background:-webkit-linear-gradient(top, #95ec9d 5%, #64c217 100%);
     background:-o-linear-gradient(top, #95ec9d 5%, #64c217 100%);
     background:-ms-linear-gradient(top, #95ec9d 5%, #64c217 100%);
     background:linear-gradient(to bottom, #95ec9d 5%, #64c217 100%);
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#95ec9d', endColorstr='#64c217',GradientType=0);
     background-color:#95ec9d;
     -moz-border-radius:6px;
     -webkit-border-radius:6px;
     border-radius:6px;
     border:1px solid #64c217;
     display:inline-block;
     cursor:pointer;
     color:#000000;
     font-family:Arial;
     font-size:15px;
     font-weight:bold;
     padding: 14px 10px;
	float: right;
	width: 10%;
     text-decoration:none;
     text-shadow:0px 1px 0px #95ec9d;
   }
   .aceptbtn:hover {
     background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #64c217), color-stop(1, #acd0ff));
     background:-moz-linear-gradient(top, #64c217 5%, #95ec9d 100%);
     background:-webkit-linear-gradient(top, #64c217 5%, #95ec9d 100%);
     background:-o-linear-gradient(top, #64c217 5%, #95ec9d 100%);
     background:-ms-linear-gradient(top, #64c217 5%, #95ec9d 100%);
     background:linear-gradient(to bottom, #64c217 5%, #95ec9d 100%);
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#64c217', endColorstr='#95ec9d',GradientType=0);
     background-color:#64c217;
   }
   .aceptbtn:active {
     position:relative;
     top:1px;
   }
   

 .cancelbtn {
 
 	margin-right: 10px;
	-moz-box-shadow: 0px 1px 0px 0px #ee7171;
	-webkit-box-shadow: 0px 1px 0px 0px #ee7171;
	box-shadow: 0px 1px 0px 0px #ee7171;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ee7171), color-stop(1, #23c1ff));
	background:-moz-linear-gradient(top, #ee7171 5%, #ec2f00 100%);
	background:-webkit-linear-gradient(top, #ee7171 5%, #ec2f00 100%);
	background:-o-linear-gradient(top, #ee7171 5%, #ec2f00 100%);
	background:-ms-linear-gradient(top, #ee7171 5%, #ec2f00 100%);
	background:linear-gradient(to bottom, #ee7171 5%, #ec2f00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee7171', endColorstr='#ec2f00',GradientType=0);
	background-color:#ee7171;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ec2f00;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
padding: 14px 10px;

	float: right;
	width: 10%;
	text-decoration:none;
	text-shadow:0px 1px 0px #ee7171;
}
.cancelbtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ec2f00), color-stop(1, #acd0ff));
	background:-moz-linear-gradient(top, #ec2f00 5%, #ee7171 100%);
	background:-webkit-linear-gradient(top, #ec2f00 5%, #ee7171 100%);
	background:-o-linear-gradient(top, #ec2f00 5%, #ee7171 100%);
	background:-ms-linear-gradient(top, #ec2f00 5%, #ee7171 100%);
	background:linear-gradient(to bottom, #ec2f00 5%, #ee7171 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec2f00', endColorstr='#ee7171',GradientType=0);
	background-color:#ec2f00;
}
.cancelbtn:active {
	position:relative;
	top:1px;
}
#home{
	padding-bottom:28px;
}
#profesores{
	padding-bottom:28px;
	
}
.buscador2{border-radius:5px;}

#resultadoLink{
	text-decoration: none;
}


