  /* Navigation Bar */
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
    margin-top: 20px;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: green;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 135.5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .navbar .izquierda, .navbar form{
  float: left;
  }


  /* search form */
  form.example {
    position: relative;
    left: 100px;
  }
  form.example input[type=text] {
    position: relative;
    top: 23px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    position: relative;
    top: 27.7px;
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  #searchButton{
    position: relative;
    left: 88%;
    top: -19.5px;
  }
  /* button styles */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #cf2a27;
    float: right;
    width: 10%;
  }
  .aceptbtn {
    padding: 14px 20px;
    background-color: #38761d;
    float: right;
    width: 10%;
  }
  .button, submit {
    position: relative;
    background-color: #e48871;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
/* Criteria */
#separadorCriteria{
  width: 100%;
}

#criteria{
  position: relative;
  top: 10px;
}

#submitCriteria{
  position: relative;
  top: -25px;
}

/* resultados */
#resultados{
  position: relative;
}

.resultado{
  margin-top: 20px;
  margin-left: 40px;
  height: 140px;
  display: inline-block;
  border-style: solid;
  border-color: black;
  width: 175px;
  text-align: center;
}

#dispo{
  position: relative;
  top: -50px;
  width: 120px;
}

.precio{
  text-align: left;
}
#disponibilidad{
  width: 144px;
  position: relative;
  top: -150px;
  right: 50%;
}

#profesoresRecomendados{
  position: absolute;
  text-align: left;
  right: 10px;
  bottom: 10px;
}
.resultadoRecomendado{
  margin-top: 20px;
  margin-left: 40px;
  height: 140px;
  display: block;
  border-style: solid;
  border-color: black;
  width: 175px;
  text-align: center;
}
#sesiones{

  position: absolute;
  text-align: left;
  right: 50%;
  top: 130px;

}
#cancelarSesion{
  float: left;
}
#linkDetail{
  margin-left: 15px;
}
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  text-decoration: none;
}